extends /layout

block content
  h1 #{ title }: #{ bookInstance._id }
  p #{ bookInstance.book.title } — #{ bookInstance.imprint }

  p Do you really want to delete this book instance?

  form(method='POST', action='')
    .form-group
      input#document-id.form-control(
        type='hidden',
        name='documentId',
        value=bookInstance._id,
        required
      )
    button.btn.btn-primary(type='submit') Delete
