extends layout

block content
  h1 #{ title } 📚
  p Welcome to #[em LocalLibrary], a dynamic Express website that transcends the boundaries of a conventional library.

  h2 Content

  p The library has the following record counts:

  ul
    li #[strong Books:] !{ bookCount }
    li #[strong Copies:] !{ bookInstanceCount }
    li #[strong Copies available:] !{ bookInstanceAvailableCount }
    li #[strong Authors:] !{ authorCount }
    li #[strong Genres:] !{ genreCount }
